@model IEnumerable<FPTBook_v3.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cate_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cate_Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cate_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cate_Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cate_Id">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.cate_Id" onclick="return confirm ('Are you sure?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
