@model IEnumerable<FPTBook_v3.Models.OrderDetail>

@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Show</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Book
            </th>
            <th>
                Image
            </th>
            <th>
                Quantity
            </th>
            <th>
                UnitPrice
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.OrderId 
            </td>
            <td>
               @item.Book.book_Title
            </td>
            <td>
                @item.Book.book_ImagURL
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.UnitPrice
            </td>
        </tr>
}
    </tbody>
</table>
