@model BookDisplayModel
@{

}
<div class="my-2" style="margin-left: 750px">
    <form asp-action="Index" class="row col-12 align-items-center">
        <div class="col-4">
            <label class="visually-hidden" for="genreId">Genres</label>
            <select class="form-select" id="genreId" name="genreId">
                <option selected>Genre</option>
                @foreach (var genre in Model.Categorys)
                {
                    <option selected="@(genre.cate_Id == Model.GenreId)" value="@genre.cate_Id">@genre.cate_Name</option>
                }
            </select>
        </div>

        <div class="col-4">
            <label class="visually-hidden" for="sterm">Search by title</label>
            <div class="input-group">
                <div class="input-group-text"></div>
                <input type="text" class="form-control" value="@Model.STerm" id="sterm" name="sterm" placeholder="Sarch by title">
            </div>
        </div>

        <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap ">
    @foreach (var book in Model.Books)
    {
        <div class="card mx-3 mb-4" style="width: 11rem;">
             <a asp-controller="Book" asp-action="BookDetail" asp-route-id="@book.book_Id">
            @if (string.IsNullOrEmpty(book.book_ImagURL))
            {
                <img style="width:100%;height:180px" src="/images/NoImage.png" class="card-img-top" alt="...">

            }
            else
            {
               <img style="width:100%;height:180px" src="~/uploads/@book.book_ImagURL" class="card-img-top" alt="...">
            }
            </a>
            <div class="card-body">
                <h5 class="card-title">@book.book_Title</h5>
                <p class="card-text">
                    <b>Category: </b>@book.category.cate_Name <br />
                    <b>Price: </b>@book.book_Price
                </p>
                <button type="button" onclick="add(@book.book_Id)" class="btn btn-primary">Add to cart</button>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
        async function add(bookId) {
            var usernameEl = document.getElementById("username");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
                //var username=usernameEl.innerText;
                //  if(username.length<1){
                //      window.location.href="/Identity/Account/Login";
                //  }
            }
            try {
                var response = await fetch(`/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "/Cart/GetUserCart";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}